@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  box-sizing: border-box;
  margin: 0;
  background-color: black;
  font-family: 'Roboto', sans-serif;
}

.heading {
  display: block;
  margin: 6rem 0 2rem;
  color: white;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
}

.container {
  display: flex;
  /* flex-wrap: wrap; */
  max-width: 1140px;
  width: 100%;
  border: 1px solid red;
  margin: 0 auto;
  /* padding: 15px; */
}

.box {
  flex-grow: 1;
  /* flex: 1 1 auto; */
  /* flex: 1 1 240px; */
  /* flex: 1 1 33%; */
  /* flex: none 0 0 auto */
  /* flex-basis: 33.33%; */
  background-color: #b2ff59;
  /* margin: 15px; */
  max-width: 240px;
  /* width: 100%; */
  height: 240px;
}

.box:nth-child(2n) {
  background-color: #69f0ae;
}

/* grow shrink auto */
/* flex: initial(0 1 auto) */
/* flex: none */
/* flex: auto (1 1 auto)*/
/* flex: 1 (1 1 0)*/

/* flex basis */
