@import './reset.css';

body {
  color: #292929;
}

body::after {
  content: 'lexie-kaia ';
  display: block;
  margin: 64px 0;
  font-size: 14px;
  text-align: center;
}

/* font style */
.fs__h1 {
  display: block;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 144px;
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.02em;
}

.fs__h2 {
  display: block;
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
}

.fs__h2--section-heading {
  margin-bottom: 16px;
  padding-bottom: 8px;
}

.fs__h3 {
  display: block;
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
}

.fs__h4 {
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.fs__p {
  font-size: 16px;
  line-height: 20px;
}

.fs__list {
  list-style-type: disc;
  margin-left: 30px;
  line-height: 22px;
}

/* tag style */
.tag__m {
  margin: 0;
  padding: 0 10px;
  height: 32px;
  border: 1px solid #0a0707;
  color: #474747;
  font-size: 13px;
  line-height: 20px;
}

.tag__m:hover {
  background: #191919;
  color: #ffffff;
}

.tag__s {
  margin-right: 6px;
  padding: 0 5px;
  height: 24px;
  border: 1px solid #474747;
  color: #474747;
  font-size: 13px;
  line-height: 20px;
}

/* body */
.body {
  display: grid;
  grid-template-columns: 408px 1fr;
  margin: 96px auto 0;
  max-width: 1224px;
  width: 100%;
}

/* header */
.header {
  width: 100%;
  margin-left: 16px;
  padding: 16px;
  /* border: 1px solid red; */
}

.header__text {
  display: block;
}
/* filter section */
.filter {
  width: 100%;
  margin-left: 16px;
  padding: 16px 16px 20px;
  /* border: 1px solid red; */
}

.filter__list {
  display: flex;
  flex-wrap: wrap;
}

.filter__item {
  margin-right: 12px;
  margin-bottom: 12px;
}

/* projects section */
.project {
  width: 100%;
  margin-right: 16px;
  padding: 16px;
  /* border: 1px solid red; */
}

.project__list {
  opacity: 1;
  transition: 0.25s;
}

.project__summary {
  display: flex;
  align-self: center;
  padding: 16px 0;
  /* border: 1px solid red; */
}

.project__thumbnail-container {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-right: 16px;
  width: 200px;
  height: 138px;
}

.project__text-container {
  flex-grow: 1;
  margin-right: 16px;
  /* border: 1px solid red; */
}

.project__btn-container {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}

.btn__view-more {
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #bdbdbd;
  text-align: center;
  transition: transform 0.25s, color 0.1s;
  /* border: 1px solid red; */
}

.btn__view-more:hover {
  color: #292929;
}

.project__thumbnail {
  height: 100%;
}

.project__title {
  margin-top: 6px;
}

.project__title:hover {
  text-decoration: underline;
}

.project__description {
  margin-top: 6px;
}

.project__verbose {
  display: none;
  padding-left: 216px;
  padding-bottom: 32px;
}

.project__src {
  width: 100%;
  margin-bottom: 18px;
  box-shadow: 0 10px 15px 0px rgba(0, 0, 0, 0.05);
}

.project__src:last-child {
  margin-bottom: 0;
}

.project__heading {
  margin-top: 16px;
}

/* javascript */
.js-btn-view-more-rotate {
  transform: rotate(180deg);
}

.js-verbose-show {
  display: block;
}

.js-anim-out {
  opacity: 0;
}

.js-display-none {
  display: none;
}

.js-filter-selected {
  background: #191919;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .body {
    grid-template-columns: 1fr;
    margin-top: 60px;
  }

  .fs__h1 {
    margin-bottom: 32px;
  }

  .header,
  .filter,
  .project {
    margin: 0;
    padding: 16px 32px 16px;
  }
}

@media screen and (max-width: 768px) {
  .fs__h1 {
    font-size: 120px;
  }

  .fs__h3 {
    display: block;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
  }

  .fs__p {
    font-size: 14px;
    line-height: 20px;
  }

  .tag__s {
    height: 20px;
    font-size: 12px;
    line-height: 20px;
  }

  .header,
  .filter,
  .project {
    padding: 16px;
  }

  .project__thumbnail-container {
    width: 100px;
    height: 100px;
    margin-right: 12px;
  }

  .project__text-container {
    margin-right: 12px;
  }

  .project__verbose {
    padding-left: 0;
  }
}
