@import url(../../reset.css);

:root {
  --black: #0f1419;
  --dark-grey: #5b7083;
  --blue: #1da1f2;
  --blue-hover: rgba(29, 161, 242, 0.1);
  --blue-line: rgba(29, 161, 242, 0.5);
  --dark-blue: #1b95e0;
  --red: #e0245e;
  --red-hover: rgba(224, 36, 94, 0.1);
  --red-line: rgba(224, 36, 94, 0.5);
  --green: #17bf63;
  --green-hover: rgba(23, 191, 99, 0.1);
  --green-line: rgba(23, 191, 99, 0.5);
  --light-grey-1: #ebeef0;
  --light-grey-2: #eff1f2;
  --offwhite: #f7f9fa;
  --white: #ffffff;

  --radius-m: 16px;
  --radius-s: 4px;
}

body {
  color: var(--black);
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

/* reset */
nav {
  width: 100%;
}

img {
  width: 100%;
  height: 100%;
}

input {
  background: transparent;
}

a {
  cursor: pointer;
}

/* - typography - */
.fs-h1 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.fs-h2 {
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
}

.fs-p {
  font-size: 15px;
  line-height: 20px;
}

.fs-s {
  color: var(--dark-grey);
  font-size: 15px;
  line-height: 20px;
}

.fs-t {
  color: var(--dark-grey);
  font-size: 13px;
  line-height: 16px;
}

.fs-blue {
  color: var(--blue);
}

.fs-grey {
  color: var(--dark-grey);
}

.fs-center {
  text-align: center;
}

/* --- icon --- */
.icon-28 {
  /* .btn-48.nav_menu */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  font-size: 24px;
  line-height: 24px;
}

.icon-28.notified {
  position: relative;
}

.icon-28.notified .notif {
  position: absolute;
  top: 2px;
  right: -2px;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background: var(--blue);
  color: var(--white);
  font-size: 10px;
  line-height: 14px;
  text-align: center;
}

.icon-20 {
  /* btn-52.dropdown_menu, .btn-48.search_input, list_btn*/
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  color: var(--dark-grey);
  font-size: 18px;
  line-height: 20px;
}

/* --- profile --- */
.profile-c {
  display: flex;
}

.profile-i {
  flex-shrink: 0;
  display: block;
  overflow: hidden;
  margin-right: 12px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.profile-i.account_profile {
  width: 40px;
  height: 40px;
}

.profile-v {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-f {
  display: flex;
}

/* --- badge --- */
.badge-20 {
  height: 20px;
  margin: 0 12px;
  padding: 0 4px;
  border-radius: var(--radius-s);
  background: var(--blue);
  color: white;
  font-size: 13px;
  line-height: 20px;
}

/* --- btn --- */
.btn {
  transition: 100ms;
}

.btn:hover {
  background: var(--blue-hover);
}

.btn:focus {
  outline: none;
  background: var(--blue-hover);
  box-shadow: 0 0 0 2px var(--blue-line);
}

/* --- btn 48px --- */
.btn-48 {
  padding: 14px 16px;
  border-radius: 24px;
  height: 48px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  transition: 100ms;
}

.btn-48:hover {
  background: var(--blue-hover);
}

.btn-48:focus {
  outline: none;
  background: var(--blue-hover);
  box-shadow: 0 0 0 2px var(--blue-line);
}

/* --- btn 48px: nav menu --- */
.btn-48.nav_menu {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  line-height: 24px;
}

.btn-48.nav_menu.current {
  color: var(--blue);
}

.btn-48.nav_menu:hover {
  color: var(--blue);
  background: var(--blue-hover);
}

.btn-48.nav_menu:focus {
  background: var(--white);
  color: var(--blue);
}

.nav_menu_text {
  margin: 0 6px 0 16px;
}

/* --- btn 48px: tweet --- */
.btn-48.nav_tweet {
  margin-top: 16px;
  width: 100%;
  background: var(--blue);
  color: var(--white);
}

.btn-48.nav_tweet:hover {
  background: var(--dark-blue);
}

.btn-48.nav_tweet:focus {
  background: var(--dark-blue);
}

/* --- btn 48px: search ---*/
.btn-48.search_input {
  padding-left: 48px;
  width: 100%;
  background: var(--light-grey-1);
}

.btn-48.search_input::placeholder {
  color: var(--dark-grey);
  font-size: 15px;
  line-height: 20px;
}

.btn-48.search_input:focus {
  background: var(--white);
}

.search_wrapper {
  position: relative;
}

.icon-20.search_icon {
  position: absolute;
  top: 0;
  left: 16px;
}

/* --- btn-40 --- */
.btn-40 {
  padding: 10px 16px;
  border-radius: 20px;
  height: 40px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  transition: 100ms;
}

.btn-40:hover {
  background: var(--blue-hover);
}

.btn-40:focus {
  outline: none;
  background: var(--blue-hover);
  box-shadow: 0 0 0 2px var(--blue-line);
}

/* --- btn 48px: main tweet --- */
.btn-40.main_tweet {
  width: 100%;
  background: var(--blue-line);
  color: var(--white);
}

.btn-40.main_tweet:hover {
  background: var(--blue);
}

.btn-40.main_tweet:focus {
  background: var(--blue);
}

/* --- btn-64: account menu --- */
.btn-64.account_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0;
  padding: 12px;
  border-radius: 32px;
  height: 64px;
  width: 100%;
}

.btn-64.account_menu:hover {
  background: var(--offwhite);
}

.btn-64.account_menu:focus {
  outline: none;
  background: var(--blue-hover);
  box-shadow: 0 0 0 2px var(--blue-line);
}

/* --- btn-52: dropdown menu --- */
.btn-52.dropdown_menu {
  display: flex;
  align-items: center;
  padding: 16px;
  border: 2px solid var(--white);
  width: 100%;
  height: 52px;
  transition: 100ms;
}

.btn-52.dropdown_menu:hover {
  border: 2px solid var(--offwhite);
  background: var(--offwhite);
}

.btn-52.dropdown_menu:focus {
  outline: none;
  border: 2px solid var(--blue-line);
  background: var(--offwhite);
}

/* --- dropdown ---*/
.dropdown {
  position: absolute;
  display: none;
  overflow: hidden;
  border-radius: var(--radius-s);
  background: var(--white);
  box-shadow: 0 0 15px -3px rgba(0, 0, 0, 0.1), 0 0 6px -2px rgba(0, 0, 0, 0.05);
  white-space: nowrap;
}

.dropdown.show {
  display: block;
}

.dropdown_wrapper {
  position: relative;
}

.dropdown_list {
  display: flex;
  flex-direction: column;
}

.dropdown_list:not(:first-child) {
  border-top: 1px solid var(--light-grey-1);
}

.dropdown_item {
  padding: 16px;
}

.dropdown_menu_text {
  margin-left: 8px;
  text-align: start;
}

/* --- dropdown position --- */
.nav_more {
  bottom: 0;
}

.main_top {
  top: 0;
  right: 0;
}

.main_top_icon {
  display: block;
  margin-bottom: 12px;
  color: var(--blue);
  font-size: 48px;
}

/* --- btn-i --- */
.btn-i {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -6px;
  border-radius: 50%;
  /* border: 1px solid red; */
  height: 36px;
  width: 36px;
  color: var(--dark-grey);
  transition: 100ms;
}

.btn-i:hover {
  background: var(--blue-hover);
}

.btn-i:focus {
  outline: none;
  background: var(--blue-hover);
  box-shadow: 0 0 0 2px var(--blue-line);
}

.btn-i.tweet_option {
  margin: 0;
}

.btn-i.feed_reply,
.btn-i.feed_retweet,
.btn-i.feed_like,
.btn-i.fedd_share {
  margin: -6px 0;
}

.btn-i.feed_reply + .feed_reply_count,
.btn-i.feed_retweet + .feed_retweet_count,
.btn-i.feed_like + .feed_like_count {
  margin-left: 4px;
}

.btn-i.feed_reply:hover .icon-20,
.btn-i.feed_reply:hover + .feed_reply_count,
.btn-i.feed_share:hover .icon-20 {
  color: var(--blue);
}

.btn-i.feed_retweet:hover {
  background: var(--green-hover);
}

.btn-i.feed_retweet:focus {
  background: var(--green-hover);
  box-shadow: 0 0 0 2px var(--green-line);
}

.btn-i.feed_retweet:hover .icon-20,
.btn-i.feed_retweet:hover + .feed_retweet_count {
  color: var(--green);
}

.btn-i.feed_like:hover {
  background: var(--red-hover);
}

.btn-i.feed_like:focus {
  background: var(--red-hover);
  box-shadow: 0 0 0 2px var(--red-line);
}

.btn-i.feed_like:hover .icon-20,
.btn-i.feed_like:hover + .feed_like_count {
  color: var(--red);
}

/* --- btn-t --- */
.btn-t {
  color: var(--dark-grey);
  font-size: 13px;
  line-height: 16px;
}

.btn-t:hover,
.btn-t:focus {
  text-decoration: underline;
}

/* --- structure ---*/
.body {
  display: flex;
  margin: 0 auto;
  width: 1265px;
}

/* .header {
  border: 1px solid red;
} */

.main {
  border-right: 1px solid var(--light-grey-1);
  border-left: 1px solid var(--light-grey-1);
}

/* .aside {
  border: 1px solid red;
} */

.header {
  margin: 0 12px;
  width: 251px;
}

.main {
  width: 598px;
}

.aside {
  margin-left: 32px;
  margin-right: 12px;
  padding-bottom: 64px;
  width: 348px;
}

/* --- header --- */
.header_wrapper {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 251px;
  height: 100vh;
}

.header_nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav_logo,
.nav_table {
  height: 52px;
  padding-top: 2px;
}

/* --- main --- */
.main_header_wrapper {
  width: 100%;
  height: 52px;
}

.main_header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 14px 16px;
  border-bottom: 1px solid var(--light-grey-1);
  width: 596px;
  height: 52px;
  background: var(--white);
}

.main_section {
  border-bottom: 1px solid var(--light-grey-1);
}

.main_hr {
  border-bottom: 1px solid var(--light-grey-1);
  height: 12px;
  background: var(--offwhite);
}

.feed_container,
.tweet_container {
  display: flex;
  padding: 12px 16px;
}

.feed_container {
  border-bottom: 1px solid var(--light-grey-1);
}

.feed_container:hover {
  background: var(--offwhite);
}

.feed_content,
.tweet_content {
  width: 100%;
}

.feed_header {
  display: flex;
  justify-content: space-between;
}

.feed_profile_name {
  margin-right: 8px;
}

.feed_profile_username::after {
  content: '·';
  margin: 0 4px;
}

.feed_profile_name:hover {
  text-decoration: underline;
}

.feed_body {
  margin-top: 4px;
}

.feed_tweet {
  font-size: 15px;
  line-height: 20px;
}

.feed_img {
  overflow: hidden;
  margin: 12px 0;
  border: 1px solid var(--light-grey-1);
  border-radius: var(--radius-m);
}

.tweet_footer {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  /* border: 1px solid salmon; */
}

.tweet_footer_btns,
.feed_footer_btns {
  display: flex;
}

.feed_item {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

/* --- section content --- */
.tweet_input {
  padding: 12px 0 16px;
  border-bottom: 1px solid var(--light-grey-1);
  width: 100%;
  font-size: 20px;
  line-height: 24px;
  resize: none;
}

.tweet_input::placeholder {
  color: var(--dark-grey);
}

/* --- aside --- */
.aside_wrapper {
  position: fixed;
  top: 0;
  width: 348px;
}

.aside_header {
  height: 52px;
  padding: 2px 0;
  background: var(--white);
}

/* --- lists --- */
.list {
  margin-top: 16px;
  border-radius: var(--radius-m);
  background: var(--offwhite);
}

.list_header {
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
  height: 48px;
  transition: 100ms;
}

.list_item {
  position: relative;
  border-top: 1px solid var(--light-grey-1);
}

.list_item:last-child {
  border-bottom: 1px solid var(--light-grey-1);
}

.list_content {
  display: flex;
  flex-direction: column;
  padding: 12px 16px;
  border: 2px solid var(--offwhite);
  transition: 100ms;
}

.list_content:hover {
  border: 2px solid var(--light-grey-2);
  background: var(--light-grey-2);
}

.list_content:focus {
  outline: none;
  border: 2px solid var(--blue-line);
  background: var(--light-grey-2);
}

.list_btn {
  position: absolute;
  top: 12px;
  right: 16px;
}

.list_more {
  width: 100%;
  height: 52px;
  padding: 16px;
  border: 2px solid var(--offwhite);
  border-bottom-left-radius: var(--radius-m);
  border-bottom-right-radius: var(--radius-m);
  color: var(--blue);
  text-align: start;
  transition: 100ms;
}

.list_more:hover {
  border: 2px solid var(--light-grey-2);
  background: var(--light-grey-2);
}

.list_more:focus {
  outline: none;
  border: 2px solid var(--blue-line);
  background: var(--light-grey-2);
}

/* --- list content --- */
.trend_count {
  margin-top: 4px;
}

/* --- footer --- */
.footer {
  margin-top: 16px;
  padding: 0 16px;
}

.footer_list {
  line-height: 20px;
}

.footer_item {
  display: inline-block;
  margin-right: 8px;
}
