.modal {
  display: flex;
  justify-content: center;
  width: 100%;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.25s;
}

.modal-wrapper.modal-hidden {
  opacity: 0;
  visibility: hidden;
}

.modal-wrapper.modal-hidden .modal-content {
  transform: translateY(10%);
}

.modal-content {
  position: relative;
  max-width: 320px;
  width: 100%;
  padding: 24px;
  margin: 0 16px;
  background: #ffffff;
  transition: 0.25s;
}

.modal-content:hover {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.modal-title {
  display: block;
  margin-top: 16px;
  margin-bottom: 12px;
  color: #474747;
  font-size: 24px;
  line-height: 1.4;
  font-weight: 700;
}

.modal-body {
  display: block;
  margin-bottom: 24px;
  color: #474747;
  line-height: 1.6;
}

/* button */
.modal-btn-fill {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 320px;
  width: 100%;
  height: 48px;
  border-radius: 6px;
  background: linear-gradient(to bottom right, #523ee8, #8070ff);
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
}

.modal-btn-close {
  position: absolute;
  top: 8px;
  right: 11px;
  color: #bdbdbd;
  font-size: 24px;
}

.modal-btn-close:hover {
  color: #757575;
}
