* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #e6e6e6;
  color: #292929;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.01em;
}

button {
  border: none;
  background: transparent;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
}

button:focus,
button:active {
  outline: none;
  box-shadow: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.25s;
}

.modal.hidden {
  opacity: 0;
  visibility: hidden;
}

.modal.hidden .modal-content {
  transform: translateY(10%);
}

.modal-content {
  position: relative;
  width: 320px;
  padding: 24px;
  margin: 0 16px;
  /* border-radius: 12px; */
  background: #ffffff;
  transition: 0.25s;
}

.modal-content:hover {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.modal-title {
  display: block;
  margin-top: 16px;
  margin-bottom: 12px;
  color: #474747;
  font-size: 24px;
  line-height: 1.4;
  font-weight: 700;
}

.modal-body {
  display: block;
  margin-bottom: 24px;
  color: #474747;
  line-height: 1.6;
}

/* button */
.btn-fill {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 320px;
  width: 100%;
  height: 56px;
  border-radius: 6px;
  background: linear-gradient(to bottom right, #523ee8, #8070ff);
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  transition: 1s;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 11px;
  color: #bdbdbd;
  font-size: 24px;
}

.btn-close:hover {
  color: #757575;
}
