.search {
  padding: 20px;
  width: 640px;
  background: white;
}

.search-link {
  color: #202124;
  font-size: 14px;
  line-height: 1.3;
}

.search-breadcrumbs {
  color: #5f6368;
}

.search-title {
  margin: 4px 0 2px;
  color: #1a0dab;
  font-size: 20px;
  line-height: 1.3;
}

.search-title:hover {
  text-decoration: underline;
}

.search-body {
  color: #4d5156;
  font-size: 14px;
  line-height: 1.6;
}

.search-body strong {
  font-weight: bold;
}
